        body{
            margin: 0;
        }
        .container {
            display: grid;
            
            }
        header {
            grid-column-start:1 ; 
            grid-column-end: 14;
            background-color: rgba(22, 13, 100, 0.877);
            
            text-decoration: none;
            padding: 10px;
            
        }
        
        h1{
            text-align: center;
            justify-content: center;
            
            border-block-color: rgb(165, 126, 116);
        }
       
        .menu{
            background-color: rgba(22, 13, 100, 0.877);
            grid-column-start: 1;
            grid-column-end: 14;
            justify-content:left;
            padding: 10px;

        }
        .imagemcab{
                        grid-column-start: 5;
            border: 90px;
            width: 100px; 
            height: 80px;
        }
        .logo{
            border: 90px;
           
            background-color:rgb(224, 224, 224);
        }
        img{  
            border-radius: 20%;
            width: 80px;        
            height: 80px;
            justify-content:center;
        }
       
        
        ul{ 
            grid-column-start: 5;
            display: flex;
            border-radius: 10px;
            gap: 30px;
            color: black;

        }
        li:hover{
            background-color: rgb(163, 117, 117);
           
        }
        li{
            grid: column start 1px;;
            list-style:none;
            border-color: rgb(207, 214, 212);
            border: solid;
            padding: 5px;
            color: bisque;
            border-radius: 5px;
        }
        a{
            color: antiquewhite;
            text-decoration: none;
            font-size: 20px;
        }
         a:hover {
        color:rgb(255, 0, 0);
        text-decoration: underline;
       }
   
        p {
        justify-content: center;
        font-size: 20px;
        }
       
        h5{
            font-size: 20px;
            margin-top: auto;
        }
        h6{
            font-size: 15px;
            grid-column-start:0;
            margin-top: 5%;
        }
        
        .principal{
            grid: column start 1px;;
            grid-column-end: 12px;
            display: grid;
            padding-left: 15px;
            padding-right: 15px;
            text-align:justify;
            background-color: rgb(224, 224, 224);
        }
        .principal img {
            grid-column-start: 1;
            grid-column-end: 1;
            width: 250px;
            height: 250px;
        }
        section img{
            grid-column-start: 4;
            text-align: center;
        }
        footer{ 
            margin-top:auto;
            grid-column-start: 1;
            grid-column-end: 12;
            background-color:rgba(22, 13, 100, 0.877);
            text-align:center; 

        }